* {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

body{
    background-color: #EFEBCE;
    height: 100vh;
    overflow: hidden;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    white-space: nowrap;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

dialog {
  position: fixed;        /* stays in place even when scrolling */
  left: 50%;              /* centers horizontally */
  bottom: 10%;            /* move it up from the bottom edge */
  transform: translateX(-50%);  /* perfect horizontal centering */
  
  /* Appearance */
  font-size: 0.8em;
  padding: 1em 1.5em;
  border: none;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

#change-password-button{
    border-radius: 360px;
    background-color: #F2BCB1;
    width: 35%;
    height: 15%;
    font-size: 1.2em;
}