/*mobile styling*/

* {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

body{
    background-color: #EFEBCE;
    height: 100vh;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    margin-bottom: 6px;
}

#search-label{
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-search-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

a{
    text-decoration: underline;
}

.imglink{
    width: 180px;
}

#results-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results-wrapper div{
    margin-top: 15px;
    width: 60%;
    background-color: #ECC9C6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dialog{
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-button{
    width: 20%;
    height: 50px;
    border-radius: 360px;
    background-color: #F2BCB1;
    margin-top: 12px;
}

.add-to-bookshelf-button{
    border-radius: 360px;
    background-color: #F2BCB1;
    width: 50%;
    height: 35%;
    margin-top: 5px;
    margin-bottom: 10px;
}

button:active{
    background-color: whitesmoke;
}

#loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    visibility: hidden;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Applying the 'spin' animation */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*tablets*/
@media screen and (min-width: 768px) and (orientation: portrait){
    h1{
        font-size: 3em;
    }
    
    #search-label{
        font-size: 1.7em;
    }

#book-search{
        font-size: 1.5em;
    }

    #search-button{
        height: 5vh;
        font-size: 1.5em;
    }

    h2 a{
        font-size: 1.4em;
    }

    h3{
        font-size: 1.6em;
    }

    p{
        font-size: 1.4em;
    }

    .add-to-bookshelf-button{
        height: 6vh;
        font-size: 1.4em;
    }
}

/*landscape*/
@media screen and (orientation: landscape){
    #results-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }

    h2 a{
        font-size: 0.8em;
    }

    h3{
        font-size: 0.9em;
    }

    p{
        font-size: 0.8em;
    }

    #results-wrapper{
        column-gap: 5px;
    }

    #results-wrapper div{
        width: 30%;
        height: 450px;
        position: relative;
    }

    .add-to-bookshelf-button{
        height: 10%;
        font-size: 0.7em;
    }
}

/*landscape tablets*/
@media screen and (min-height: 768px) and (orientation: landscape){
    #book-search{
        font-size: 1.5em;
    }
    
    #search-button{
        font-size: 1em;
    }

    h2 a{
        font-size: 1em;
    }

    h3{
        font-size: 1em;
    }

    p{
        font-size: 1em;
    }

    .add-to-bookshelf-button{
        font-size: 1em;
    }
}