/*mobile styling*/

* {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

body{
    background-color: #EFEBCE;
    height: 100vh;
    overflow: hidden;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    white-space: nowrap;
}

button{
    position: relative;
    margin-top: 5px;
    padding: 5px;
    border-radius: 360px;
    background-color: #F2BCB1;
    width: 35%;
    height: 10%;
    font-size: 1em;
}

#loader-container{
    position: absolute;
    bottom: 10px;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    visibility: hidden;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Applying the 'spin' animation */
}

dialog {
  position: fixed;        /* stays in place even when scrolling */
  left: 50%;              /* centers horizontally */
  bottom: 10%;            /* move it up from the bottom edge */
  transform: translateX(-50%);  /* perfect horizontal centering */
  
  /* Appearance */
  font-size: 0.8em;
  padding: 1em 1.5em;
  border: none;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (orientation: landscape){
    button{
      width: 20%;
      height: 5%;
    }
}