/*mobile styling*/

* {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

body{
    background-color: #EFEBCE;
    height: 100vh;
    overflow: hidden;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    white-space: nowrap;
}

#links-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    row-gap: 7%;
}

#links-wrapper a{
    border: 2px solid black;
    width: 60%;
    height: 20%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    height: 25%;
    border-radius: 15px;
    background-color: #ECC9C6;
    position: relative;
}

a:active{
    transform: scale(0.85);
}

.imgspan{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
}

.textspan{
    margin-top: 10px;
}

/*tablets*/
@media screen and (min-width: 768px) and (orientation: portrait){
    h1{
        font-size: 2em;
    }
    
    #links-wrapper{
        row-gap: 3%;;
    }
    
    #links-wrapper a{
        height: 50vh;
    }

    .textspan{
        font-size: 2em;
    }
}

/*landscape*/
 @media screen and (orientation: landscape){
    h1{
        font-size: 2.5em;
    }
    
    #links-wrapper{
        row-gap: 3%;
        position: relative;
        bottom: 30px;
    }

    .textspan{
        font-size: 1.5em;
        position: relative;
        bottom: 12px;
    }
    
    #links-wrapper a{
        height: 35vh;
    }

    .imgspan{
        width: 20%;
    }

    .bookshelfspan{
        margin-top: 12px;
    }

    .bookspan{
        margin-top: 15px;
    }
 }

 /*landscape tablets*/
 @media screen and (min-height: 768px) and (orientation: landscape){
    #links-wrapper a{
        width: 50vw;
    }
    
    .imgspan{
        width: 30%;
    }

    .bookspan{
        margin-top: 20px;
    }
 }

 /*desktop*/
@media screen and (min-width: 1200px){
    body{
        overflow: hidden;
    }

    #links-wrapper{
        row-gap: 5%;;
    }

    #links-wrapper a{
        width: 40%;
        height: 40vh;
        position: relative;
    }

    .textspan{
        position: relative;
        bottom: 10px;
    }

}




